@using ShikkhanobishBlazor.Models
@using Flurl.Http

@page "/MakeQuestions"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MakeQuestion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/css/makeQues.css" />
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/images/images.png" alt="user-image" class="rounded-circle" />
                        <span class="pro-user-name ml-1"> Maxine K <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="Index" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>

                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>

                <a href="Index" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>
                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- Left Sidebar Start  -->
        <div class="left-side-menu">
            <div class="user-box">
                <div class="float-left">
                    <img src="/images/images.png" alt="" class="avatar-md rounded-circle" />
                </div>
                <div class="user-info">
                    <a href="#">Maxine K</a>
                </div>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="https://dashboard.shikkhanobish.com/index.html">
                            <i class="fas fa-home"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a href="Count">
                            <i class="fas fa-calculator"></i>
                            <span> Count </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dashboard.shikkhanobish.com/student.html">
                            <i class="fas fa-user-graduate"></i>
                            <span> Student </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://dashboard.shikkhanobish.com/teacher.html">
                            <i class="fas fa-user"></i>
                            <span> Teacher </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dashboard.shikkhanobish.com/teacher.html">
                            <i class="fas fa-user"></i>
                            <span> Teacher </span>
                        </a>
                    </li>
                    <li>
                        <a href="Question">
                            <i class="far fa-question-circle"></i>
                            <span> Question </span>
                        </a>
                    </li>

                    <li>
                        <a href="MakeQuestion">
                            <i class="fas fa-marker"></i>
                            <span> Make Question </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://dashboard.shikkhanobish.com/add.html">
                            <i class="fas fa-plus-square"></i>
                            <span> Add </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->


        <div class="content-page">
            <div class="content">

                <!-- Start container-fluid -->
                <div class="container-fluid">

                    <div>
                        <div class="form-group row">
                            <div class="offset-4">
                                <h3 style="color:cadetblue">Question Making</h3>
                            </div>
                            <div class="offset-4">
                                <label style="color:crimson;font-family:Arial;font-size:16px">TeacherName</label>
                            </div>
                        </div>
                        

                        
                        <br />
                        <br />

                        <div class="form-group row">
                            <div class="col-md-4 ">
                                <select class="form-control" style="width:200px" @onchange="ClassChanged">

                                    <option value="">-- Select Class --</option>
                                    @foreach (var item in objList)
                                    {
                                        <option value="@item.classID">@item.name</option>
                                    }
                                    
                                </select>
                            </div>
                            <div class="col-md-4 ">
                                <select class="form-control" style="width:200px" @onchange="SubjectChanged">
                                    <option value="">-- Select Subject --</option>
                                    @foreach (var item in objList2)
                                    {
                                        <option value="@item.subjectID">@item.name</option>

                                    }

                                </select>
                            </div>
                            <div class="col-md-4 ">
                                <select class="form-control" style="width:200px" >
                                    <option value="">-- Select Chapter --</option>

                                    @foreach (var item in objList3)
                                    {
                                        <option value="@item.chapterID">@item.name</option>

                                    }
                                </select>
                            </div>
                            
                        </div>
                        <br />
                        <br />
                        <br />

                        <div class="form-group row">
                            <div class="col-m8">
                                <h6 style="color:maroon">Write Question</h6>
                                <textarea ></textarea>
                            </div>

                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-m2">
                                <label style="color:maroon">Option1:</label>&nbsp;&nbsp;
                            </div>
                            <div class="">

                                <textarea ></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-m2">
                                <label style="color:maroon">Option2:</label>&nbsp;&nbsp;
                            </div>
                            <div class="">

                                <textarea ></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-m2">
                                <label style="color:maroon">Option3:</label>&nbsp;&nbsp;
                            </div>
                            <div class="">

                                <textarea ></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-m2">
                                <label style="color:maroon">Option4:</label>&nbsp;&nbsp;
                            </div>
                            <div class="">

                                <textarea ></textarea>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="">
                            <h5>Right Answer</h5>
                            <br />
                            <div class="offset-1">
                                <input type="radio" name="Option" value="A" />    <label style="font-size:18px">A</label> &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="Option" value="A" />    <label style="font-size:18px">B</label> &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="Option" value="A" />    <label style="font-size:18px">C</label> &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="Option" value="A" />    <label style="font-size:18px">D</label> &nbsp;&nbsp;&nbsp;
                            </div>


                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="offset-0">
                                <input type="submit" style="color:seagreen;font-size:16px" />

                            </div>
                        </div>

                    </div>


                </div>
                <br />
                <!-- end container-fluid -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2021 &copy; shikkhanobish
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- end content -->

        </div>
        <!-- END content-page -->

    </div>
    <!-- END wrapper -->
    <!-- Vendor js -->
   
</body>
</html>


@code{
    string cid{ get; set; }
    string sid { get; set; }

    List<ClassInfo> objList = new List<ClassInfo>();
    List<Subject> objList2 = new List<Subject>();
    List<Chapter> objList3 = new List<Chapter>();

    List<Subject> allSubject = new List<Subject>();
    List<Chapter> allChapter = new List<Chapter>();


    protected override async Task OnInitializedAsync()
    {
        objList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getClassInfo".GetJsonAsync<List<ClassInfo>>();

        //await GetClassInfo();
        await GetSubInfo();
        await GetChapterInfo();

    }
    public async Task GetClassInfo()
    {
        //objList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getClassInfo".GetJsonAsync<List<ClassInfo>>();

    }

    public async Task GetSubInfo()
    {
        allSubject = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getSubject".GetJsonAsync<List<Subject>>();

    }
    public async Task GetChapterInfo()
    {
        allChapter = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getChapter".GetJsonAsync<List<Chapter>>();

    }


    private async void  ClassChanged(ChangeEventArgs classEvent)
    {
        //objList.Clear();
        cid = classEvent.Value.ToString();
        for (int i=0;i< allSubject.Count;i++)
        {
            if (allSubject[i].classID.ToString()==cid)
            {
                objList2.Add(allSubject[i]);

            }
        }


    }
    private async void SubjectChanged(ChangeEventArgs classEvent)
    {
        //objList2.Clear();
        sid = classEvent.Value.ToString();
        for (int i = 0; i < allChapter.Count; i++)
        {
            if (allChapter[i].subjectID.ToString() == sid)
            {
                objList3.Add(allChapter[i]);

            }
        }


    }

}
