@using Flurl.Http;
@using ShikkhanobishBlazor.Models
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@page "/TeacherApproval"


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/images/images.png" alt="user-image" class="rounded-circle" />
                        <span class="pro-user-name ml-1"> @userName<i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i>
                            <span @onclick="Logout">Logout</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="Index" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>

                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>

                <a href="Index" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>
                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- Left Sidebar Start  -->
        <div class="left-side-menu">
            <div class="user-box">
                <div class="float-left">
                    <img src="/images/images.png" alt="" class="avatar-md rounded-circle" />
                </div>
                <div class="user-info">
                    <a href="#">@userName</a>
                </div>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="https://dashboard.shikkhanobish.com/index.html">
                            <i class="fas fa-home"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a href="Count">
                            <i class="fas fa-calculator"></i>
                            <span> Count </span>
                        </a>
                    </li>

                    <li>
                        <a href="Questions">
                            <i class="far fa-question-circle"></i>
                            <span> Question </span>
                        </a>
                    </li>
                    <li>
                        <a href="TeacherApproval">
                            <i class="fas fa-user-alt"></i>
                            <span> Teacher Qn. Approval </span>
                        </a>
                    </li>
                    <li>
                        <a href="ActiveTeacher">
                            <i class="fas fa-lightbulb"></i>
                            <span> Active Teacher </span>
                        </a>
                    </li>
                    <li>
                        <a href="TeacherWithdraw">
                            <i class="fas fa-money-bill-wave-alt"></i>
                            <span> Teacher Withdraw </span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->


        <div class="content-page">
            <div class="content">

                <!-- Start container-fluid -->
                <div class="container-fluid">




                    <br />
                    <hr style="background-color:crimson; height:10px;" />
                    <br />
                    <div class="">
                        <label style="color:blueviolet;font-size:30px;">Approval of Teacher Section </label>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div>
                                <div class="card-box widget-inline">
                                    <div class="row">
                                        <div class="col-xl-3 col-sm-3 widget-inline-box">
                                            <div class="text-center p-3">

                                                <h2 class="mt-2"> <b>@totalQues</b></h2>
                                                <p class="text-muted mb-0">Total Question</p>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-sm-3 widget-inline-box">
                                            <div class="text-center p-3">
                                                <h2 class="mt-2"><b>@approvedQues</b></h2>
                                                <p class="text-muted mb-0">Approved</p>


                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 widget-inline-box">
                                            <div class="text-center p-3">
                                                <h2 class="mt-2"><b>@notapprovedQues</b></h2>
                                                <p class="text-muted mb-0">Not Approved</p>


                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 ">
                                            <div class="text-center p-3">
                                                <h2 class="mt-2"><b>@pendingQues</b></h2>
                                                <p class="text-muted mb-0">Pending</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr style="background-color:blueviolet; height:1px;" />
                    <hr style="background-color: blueviolet; height:1px;" />
                    <br />
                    <h5 style="color:blueviolet">Question Approval Count</h5>
                    <div class="table-responsive">
                        <table id="" class="table table-bordered" style="text-align:center">
                            <thead>
                                <tr>
                                    <th>TeacherId</th>
                                    <th>Approved</th>
                                    <th>NotApproved</th>
                                    <th>Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < tqscResult.Count; i++)
                                {
                                    <tr>
                                        <td>@tqscResult[i].teacherID</td>
                                        <td>@tqscResult[i].approved</td>
                                        <td>@tqscResult[i].notApproved</td>
                                        <td>@tqscResult[i].pending</td>
                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                    <br />
                    <hr style="background-color:blueviolet; height:1px;" />
                    <hr style="background-color: blueviolet; height:1px;" />
                    <br />

                    <br />
                    <hr style="background-color:crimson; height:10px;" />
                    <br />

                </div>

                <!-- end container-fluid -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2021 &copy; shikkhanobish
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- end content -->

        </div>
        <!-- END content-page -->

    </div>
    <!-- END wrapper -->
    <!-- Vendor js -->
</body>
</html>


@code{





    int countApproved;
    int countNotApproved;
    int countPending;
    int teachID;


    int totalQues;
    int approvedQues;
    int notapprovedQues;
    int pendingQues;


    public string userName { get; set; }
    public string pass { get; set; }


    List<TeacherQuestionStatusCount> tqscResult = new List<TeacherQuestionStatusCount>();

    protected override async Task OnInitializedAsync()
    {

        await GetTeacherQuestionHistory();
        await GetLoginInfo();
        userName = await oLocalStore.GetItemAsync<string>("name");
        pass = await oLocalStore.GetItemAsync<string>("passWord");

    }

    public async Task GetLoginInfo()
    {
        if (userName == "" && pass == "")
        {
            string redirectURL = "/";
            nvi.NavigateTo(redirectURL);
        }
    }
    [Inject]
    public NavigationManager nvi { get; set; }
    public async Task Logout()
    {
        await oLocalStore.ClearAsync();
        string redirectURL = "/";
        nvi.NavigateTo(redirectURL);
    }



    public async Task GetTeacherQuestionHistory()
    {

        int count1 = 0;
        int count2 = 0;
        int count3 = 0;

        var thList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTeacherQuestionHistory".GetJsonAsync<List<TecaherQuestionHistory>>();
        var quesList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getQuestion".GetJsonAsync<List<Question>>();

        List<int> teacherIDList = new List<int>();
        List<int> uniqueTeacherID = new List<int>();
        List<int> countList = new List<int>();

        for (int i = 0; i < thList.Count; i++)
        {
            teacherIDList.Add(thList[i].teacherID);
        }

        for (int i = 0; i < teacherIDList.Count; i++)
        {
            bool isDone = false;

            //check already counted
            if (uniqueTeacherID.Count != 0)
            {
                for (int k = 0; k < uniqueTeacherID.Count; k++)
                {
                    if (uniqueTeacherID[k] == teacherIDList[i])
                    {

                        isDone = true;
                    }
                }
            }



            if (!isDone)
            {
                uniqueTeacherID.Add(teacherIDList[i]);
                int num = 0;
                for (int j = 0; j < teacherIDList.Count; j++)
                {
                    if (teacherIDList[i] == teacherIDList[j])
                    {
                        num++;
                    }

                }
                countList.Add(num);


            }

        }
        List<TeacherQuestionStatusCount> tqsc = new List<TeacherQuestionStatusCount>();
        for (int i = 0; i < uniqueTeacherID.Count; i++)
        {
            TeacherQuestionStatusCount newtqsc = new TeacherQuestionStatusCount();
            for (int j = 0; j < thList.Count; j++)
            {
                if (uniqueTeacherID[i] == thList[j].teacherID)
                {
                    newtqsc.teacherID = uniqueTeacherID[i];
                    for (int k = 0; k < quesList.Count; k++)
                    {
                        if (thList[j].questionID == quesList[k].questionID)
                        {
                            if (quesList[k].review == 0)
                            {
                                newtqsc.pending++;
                            }
                            if (quesList[k].review == 1)
                            {
                                newtqsc.approved++;
                            }
                            if (quesList[k].review == 2)
                            {
                                newtqsc.notApproved++;
                            }
                            break;
                        }
                    }
                }
            }
            tqsc.Add(newtqsc);
        }
        countApproved = count1;
        tqscResult = tqsc;
        for (int i = 0; i < tqsc.Count; i++)
        {
            count1 += tqsc[i].approved;
            count2 += tqsc[i].notApproved;
            count3 += tqsc[i].pending;
        }
        approvedQues = count1;
        notapprovedQues = count2;
        pendingQues = count3;
        totalQues = count1 + count2 + count3;
    }



}




